backend/database/technical information/Tecnical task BD.xml

<!ELEMENT ISSPECS   (DESCRIPTION, DATA, ROLES, TECHSPEC)>
<!ELEMENT DESCRIPTION (TITLE,SUBJ)>
<!ELEMENT TITLE    (#PCDATA)>financial
<!ELEMENT SUBJ     (#PCDATA)>пользователи и их списки расходов, доходов, кредитов, счетов

<!ELEMENT DATA     (ENTITY+,RELATIONSHIP+,CONSTRAINT+)>
<!ELEMENT ENTITY   (PROPERTY+)>
<!ATTLIST ENTITY   ent_id person #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>уникальный логин длиной 50 символов, пароль длиной до 300 символов
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST RELATIONSHIP ent_ids IDREFS #REQUIRED >
<!ATTLIST ENTITY   ent_id income_category #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>имя категории должно быть уникальным
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST ENTITY   ent_id expense_category #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>имя категории должно быть уникальным
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST ENTITY   ent_id credit_category #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>название длиной до 50 символов
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST ENTITY   ent_id expense #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>дата должна быть не ранее текущей
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST RELATIONSHIP ent_ids person #REQUIRED >
<!ATTLIST RELATIONSHIP ent_ids expense_category #REQUIRED >
<!ATTLIST ENTITY   ent_id income #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>дата должна быть не ранее текущей
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST RELATIONSHIP ent_ids person #REQUIRED >
<!ATTLIST RELATIONSHIP ent_ids income_category #REQUIRED >
<!ATTLIST ENTITY   ent_id credit #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST RELATIONSHIP ent_ids person #REQUIRED >
<!ATTLIST RELATIONSHIP ent_ids credit_category #REQUIRED >
<!ATTLIST ENTITY   ent_id account #REQUIRED>
<!ELEMENT PROPERTY (#PCDATA)>название счета длиной до 50 символов
<!ELEMENT RELATIONSHIP (PROPERTY*)>
<!ATTLIST RELATIONSHIP ent_ids person #REQUIRED >


<!ELEMENT CONSTRAINT (#PCDATA)>все числа целые неотрицательные до 10^10, все даты не ранее текущей


<!ELEMENT ROLES    (ROLE+)>
<!ELEMENT ROLE     (TITLE, RESPONSIBILITY+,TOTALUSERS)>
<!ELEMENT TITLE (#PCDATA)>потребитель
<!ELEMENT RESPONSIBILITY  (#PCDATA)>ответственность за верное предоставление данных
<!ELEMENT TOTALUSERS (#PCDATA)>не ограничено


<!ELEMENT TECHSPEC (TYPE,DEVTOOLS,DBMS,TESTING)>
<!ELEMENT TYPE     (#PCDATA)>UI
<!ELEMENT DEVTOOLS (DEV+)>
<!ELEMENT DEV      (#PCDATA)>Python3.9
<!ELEMENT DBMS     (TITLE,VERSION,REASONING)>
<!ELEMENT TITLE (#PCDATA)>PostgreSQL
<!ELEMENT VERSION  (#PCDATA)>15
<!ELEMENT REASONING  (#PCDATA)>хорошо знаком с ней
<!ELEMENT TESTING (TEST+)>
<!ELEMENT TEST (#PCDATA)>